name: Update README (Waka / Stats)

on:
  schedule:
    - cron: "0 * * * *"   # cada hora
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - name: Set timezone
        run: echo "TZ=Europe/Berlin" >> $GITHUB_ENV

      - name: Update README
        uses: athul/waka-readme@master
        with:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          SHOW_TITLE: true
          SECTION_NAME: waka
          BLOCKS: "░▒▓█"
          TIME_RANGE: last_7_days
          LANG_COUNT: 5
          SHOW_TIME: false
          SHOW_TOTAL: false
